.outerDiv {
  display: flex;
  flex-direction: column;
  background: #eae9e9;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.heading {
  color: #000000;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
}

.innerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.teachers,
.student {
  margin: 3rem;
}
